<!DOCTYPE html>
<html lang="en" ng-app="resumeApp">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login • Resume Suggester</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="assets/style.css" />
  <script src="app/app.module.js"></script>
  <script src="app/controllers/login.controller.js"></script>
</head>
<body ng-controller="LoginCtrl">
  <header>Resume Suggester</header>
  <div class="container">
    <form ng-submit="login()">
      <label>Username</label>
      <input type="text" ng-model="user.username" required />
      <label>Password</label>
      <input type="password" ng-model="user.password" required />
      <button type="submit">Log In</button>
      <p>New here? <a href="signup.html">Create an account</a></p>
    </form>
  </div>
</body>
</html>