<!DOCTYPE html>
<html lang="en" ng-app="resumeApp">
<head>
  <meta charset="UTF-8" />
  <title>Resume Suggester</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="assets/style.css" />
  <script src="app/app.module.js"></script>
  <script src="app/directives/fileModel.directive.js"></script>
  <script src="app/controllers/suggest.controller.js"></script>
</head>
<body ng-controller="SuggestCtrl">
  <header>Resume Suggester</header>
  <div class="container">
    <form ng-submit="submitForm()" enctype="multipart/form-data">
      <label>Upload Resume</label>
      <div class="file-upload">
        <label class="file-upload-label" for="resume">Choose File</label>
        <input type="file" id="resume" file-model="resumeFile" required />
        <div class="file-name" ng-if="resumeFile">Uploaded: {{ resumeFile.name }}</div>
      </div>
      <label>Job Description</label>
      <textarea ng-model="jobDescription" rows="10" required></textarea>
      <button type="submit">Submit</button>
    </form>
    <div class="output" ng-if="responseText">
      <h3>Response</h3>
      <pre ng-bind-html="responseText"></pre>
    </div>
  </div>
</body>
</html>